$desktop-min-width: 1280px;
$small-desktop-min-width: 1024px;
$tablet-min-width: 640px;
$desktop-max-width: 1352px;
$main-bg: #F6F7FA;
$placeholder-color: #8789A1;
$inputs-color: #F5F7F9;
$main-color-text: #303030;
$blue: #5893FA;
$primary-blue: #1A73E8;